.Card {
  width: 300px;
  max-height: 600px;
  background: rgb(252, 253, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.Card__div--photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin: 10px;
}

.Card__div--lines {
  display: flex;
}

img {
  width: 100px;
}

.line {
  height: 60px;
  width: 90px;
  border-bottom: 1px solid rgb(199, 204, 208);
}

h1,
p {
  color: rgb(63, 78, 86);
  font-weight: 100;
}

.Card__div--text {
  text-align: center;
}

.icons__container {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-around;
}

.icon__container {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(204, 207, 211);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab {
  color: rgb(204, 207, 211);
  font-size: 24px;
}
